.current {
    
    /* border : 1px solid rgb(154, 18, 223) */
}
.current:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(170, 139, 206);

}
.today{
    box-sizing: border-box;
    border: 1px solid rgb(255, 0, 212);
}
.today:hover{
    background-color: white
}


.not_current {
    border: 1px solid rgb(240, 230, 245);
    background-color: silver;
}

.event{
    box-sizing: border-box;
    background-color: rgb(170, 139, 206);
    color: white;
    
    
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}